node_modules/
videos/
dist/
.env
.mc-endpoint.json
.DS_Store
.tmp_awscli/
*.mp4
*.m3u8


logs/


# Ignore built web assets (output of `npm run web:build`)
public/app/assets/
public/app/index.html

# Ignore PlayWright Artificats.
playwright-report/
test-results/
e2e/utils/.auth/
e2e/.auth/
reports/
